/* Desktop */
@media(min-width: 768px) {
    nav .menu-icon {
        display: none;
    }

    nav .menu-links {
        width          : auto;
        display        : flex;
        align-items    : center;
        justify-content: center;
        background     : transparent;
        margin-top     : 20px;
        padding        : 0;
    }

    .nav-container {
        padding: 0 !important;
    }

    nav .menu-links li {
        padding-bottom: 0;
        margin-left   : 1.8rem;
    }

    nav {
        /* height   : 60px; */
        flex-wrap: nowrap;
    }
}


@media(min-width: 992px) {
    .languages .languages-list {
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
    }
}